body {
	font-size: 18px;
}
.centrar {
	width: 80%;
	margin: 0 auto;
}
/************************************************************
------------------------    MENU    -------------------------
************************************************************/
nav#menu {
	font-size: 24px;
	text-align: right;
}
nav#menu ul {
	list-style: none;
}
nav#menu ul li {
	display: inline;
	padding: 10px;
}

/************************************************************
----------------------    CONTENIDO    ----------------------
************************************************************/
section#main article {

}

section#main article h1 {
	color: #999;
	height: 90px;
	background: #f9f9f9;
	padding: 40px 0 0 50px;
	border: dashed #dbdbdb;
	border-width: 3px 0;
	font-size: 40px;
}
/************************
* CONTACTAR
************************/
form#contact {
	display: flex;
	flex-flow: colum nowrap;
	justify-content: space-between;
}
form#contact div{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	flex-grow: 1;
}
form#contact div:nth-of-type(2){
	flex-grow: 4;
}
form#contact label, input[type='submit'],input[type='reset']{
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	background: #fdfdfd;
	margin: 10px 10px;
}
form#contact label input,textarea {
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0 0 20px;
	width: calc(100% - 60px);
	background: #fdfdfd;
	display: block;
	font-size: 18px;
}
from#contact textarea {
	height: 200px;
}
form#contact input[type='submit']{
	color: #609675;
	background: #cbf2da;
	font-size: 18px;
	font-weight: bold;
	border-color: #2db561;
	cursor: pointer;
	width: 30%;
}
form#contact input[type='reset']{
	color: #ba3f5e;
	background: #ef8ba5;
	font-size: 18px;
	font-weight: bold;
	border-color: #ba3f5e;
	cursor: pointer;
	width: 30%;
}
form#contact span#terminos{
	display: inline;
	margin: 10px 0 10px 30px;

}

@media screen and (max-width:600px){
	form#contact {
		display: block;
	}
}
/************************************************************
-----------------------    INICIO    ------------------------
************************************************************/
article#inicio {

}

article#inicio section#logos{
	text-align: center;
}
article#inicio section#logos img{
	max-width: 230px;
	margin: 50px;
}

/************************************************************
-----------------------    FOOTER    ------------------------
************************************************************/
footer {
	background: #353030;
	color: white;
	height: 400px;
	width: 100%;
}
footer cite {
	width: 100%;
	text-align: center;
	height: 40px;
	background: #000000;
	position: sticky;
	top: 50px;
	left: 50px;
}

